.sidebar{
  background-color: lightgrey;
  width: 20%;
  height: 100%;
}
.content{
  width: 80%;
  height: 100%;
}
.main-page{
  display: flex;
  align-items: stretch;
  width: 100%;
}
.selected{
  background-color: red;
}
.login-error{
  color: red;
}

.error{
  color: red;
}

.offline{
    color: red;
}

.online{
    color: green;
}