
.selected{
  background-color: red;
}
.login-error{
  color: red;
}

.error{
  color: red;
}

.offline{
    color: red;
}

.online{
    color: green;
}
.edit-list-item{
    display: inline-block;
    margin-left: 1%;
}
.inline{
    display: inline-block;
    margin-left: 1%;
}
.log-lines{
    overflow: auto;
}
.log {
    overflow: auto;
    height: 40%;
}